@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
    {
        <p>Show <a asp-page="/ShowWeatherForecast">Current Weather Forecast</a>.</p>
    }
</div>
